<%= tag.div id: dom_id(category) do %>
  <div class="card has-background-<%= category.color %>-light" style="width: 240px">
    <div class="card-content">
      <span class="subtitle"><%= category.name %></span>
    </div>

    <%= render "shared/actions_menu", object: category %>
  </div>
<% end %>
