<% %w[Income Expense].each do |type| %>
  <%= render "offer_new_transaction", type: %>
<% end %>

<div class="mt-3 columns is-centered">
  <div class="column has-background-light" style="max-width: 500px">
    <div id="transactions">
      <%= render "transactions", transactions: %>
    </div>

    <%= render "pagination" %>
  </div>
</div>
