<% %w[Income Expense].each do |type| %>
  <%= render "offer_new_transaction", type: %>
<% end %>

<div class="mt-3 columns is-centered">
  <div class="column has-background-light" style="max-width: 500px">
    <% transactions.group_by(&:committed_date).each do |date, transactions_by_date| %>
      <div class="block">
        <%= date %>

        <div class="box p-1">
          <%= render partial: "transaction", collection: transactions_by_date %>
        </div>
      </div>
    <% end %>
  </div>
</div>
