<div class="columns is-mobile is-centered">
  <div class="column" style="max-width: 500px">
    <h1 class="title has-text-centered">Add <%= transaction.human_type %></h1>

    <div class="box p-2">
      <%= render "form", transaction: %>
    </div>
  </div>
</div>
