<%= link_to root_path, class: "navbar-item" do %>
  <figure class="image is-32x32">
    <%= image_tag "coin.svg", style: "max-height: 2rem", width: 32, height: 32 %>
  </figure>
  <h1 class="title">Scrooge</h1>
<% end %>
