<div class="flash">
  <% colors = {"notice" => "success", "alert" => "danger"} %>
  <% flash.each do |type, message| %>
    <% color = colors[type] %>
    <div class="notification <%= "is-#{color}" %> is-light p-4" data-controller="flash">
      <button class="delete" data-action="flash#remove"></button>

      <span class="icon-text has-text-dark mr-5">
        <%= icon "fas fa-circle-#{(color == "success") ? "check" : "exclamation"}" %>
        <%= tag.span message %>
      </span>
    </div>
  <% end %>
</div>
