<nav class="navbar has-shadow">
  <div class="container is-block">
    <div class="navbar-brand is-flex is-justify-content-space-between">
      <%= render "app_logo" %>

      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Sign up", "#", class: "button is-link" %>
          <%= link_to "Sign in", "#", class: "button is-link is-outlined" %>
        </div>
      </div>
    </div>
  </div>
</nav>
