<%= tag.div id: dom_id(account) do %>
  <div class="card has-background-primary-light" style="width: 200px; min-width: 200px">
    <div class="card-content">
      <p class="title is-5"><%= account.name %></p>
      <p><%= account.balance.format %></p>
    </div>

    <%= render "shared/actions_menu", object: account %>
  </div>
<% end %>
