<%= turbo_frame_tag Account.new do %>
  <%= link_to new_account_path do %>
    <div class="card has-background-light" style="width: 200px; min-width: 200px">
      <div class="card-content has-text-centered">
        <p class="is-size-5 mb-2"><%= t(".text") %></p>
        <%= icon "fas fa-square-plus fa-2xl", class: "has-text-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
