<h1 class="title">Accounts</h1>

<%= turbo_frame_tag :accounts, class: "grid is-col-min-8", style: "justify-items: center" do %>
  <%= render accounts %>

  <%= render "offer_new_account" %>
<% end %>
